# Zależności i build
/node_modules/
/.parcel-cache/
/dist/

# Lockfile'y (w tym repo nie są śledzone)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logi
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Środowisko
.env
.env.local
.env.*.local

# System i edytory
.DS_Store
Thumbs.db
/.vscode/
/.idea/
